@import "tailwindcss";

/* hide both vertical & horizontal scrollbars */

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0;
    /* vertical */
    height: 0;
    /* horizontal */
}